section#option-settings {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;

	margin: 2rem;
}

.version-container {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0;
	margin-right: 20px;
	margin-bottom: 10px;
}
	#version { display: inline; margin-left: 10px; color: #4286f4; text-align: right; }
	.version-update:hover { cursor: pointer; color: #4286f4; }

	#update-ready { display: inline; }
		#update-ready p { display: inline; }

section#option-settings table td { padding: 0 35px; }

    table caption { margin-bottom: 10px; }

@media screen and (max-width: 496px)
{
	section#option-settings { font-size: 12px; }
}

@media screen and (min-width: 750px)
{
	section#option-settings { font-size: 20px; margin: 4rem;}
}