section#option-single {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;

	margin: 2rem;
}

.input-container { display: block; text-align: center; }

.btn-container { margin-top: 10px; text-align: center; }

.btn {
	border: solid;
	border-radius: 3px;
	border-width: 1px;

	height: 1.75rem;
	width: 8rem;

	margin-top: 1.5rem;

	background-color: #0094DE;
	border-color: black;
	color: white;
}

	.btn:hover {
		cursor: pointer;
	}

input { font-size: 16px; font-family: 'Rubik', sans-serif; }

select { font-size: 16px; }
	
	option { font-size: 16px; }

table { border-collapse: collapse; margin: auto; }

	td { text-align: center; padding: 5px 20px; }

		td.input { text-align: left; }

	tr { background-color: #f5f5f5 }

	tr:nth-child(even) { background-color: #e9e9e9 }




@media screen and (max-width: 496px)
{
	section#option-single { font-size: 12px; }
	input { font-size: 12px; }
	select { font-size: 12px; }
		option { font-size: 12px; }
	td { padding: 5px; }
}

@media screen and (min-width: 800px)
{
	section#option-single { font-size: 20px; margin: 4rem;}
	input { font-size: 20px; }
	select { font-size: 20px; }
		option { font-size: 20px; }
	td { padding: 10px 30px; }
}